.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 8, 8);
    
}


.services .header_services h1{
    color: white;
    margin-bottom: 0;
    font-size: 5vw;
}
.services .header_services h4{
    margin-top: 0;  
    text-align: center;
    color: rgba(187, 52, 187, 0.829);
    font-size: 1.7vw;
}

.services .services_section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3vw;
    flex-wrap: wrap;
    margin: 0 10%;
    padding-bottom: 6%;
}

.services .services_section h5{
    flex-basis: 27%;
    background-color: white;
    border-radius: 10px;
    margin: 2%;
    padding: 1%;
    transition: background-color 1s ease-in-out;
    font-size: 1.5vw;
    cursor: pointer;
}

.services .services_section .purple{
    
    background-color:  rgba(187, 52, 187, 0.829);

}

@media (min-width:300px) and (max-width: 768px) {

    .services .header_services {
        padding: 4vw 0;
    }

    .services .header_services h1{
        font-size: 6vw;
        
    }
    .services .header_services h4{
        font-size: 3vw;
    }
    
    .services .services_section{
        gap: 5vw;
    }
    
    .services .services_section h5{
        flex-basis: 30%;
        background-color: white;
        font-size: 3vw;
        white-space: nowrap;
        padding: 2vw;
        width: 40vw;
    }
}