.header h1 {
    font-size: 1.8rem;
    color: rgb(19, 18, 18);
    padding: 0 2rem;
}

.header {
    display: flex;
    border: 1px solid red;
    gap: 45%;
}

.header .icon-border {
    border: 3px solid black;
    border-radius: 50px;
    height: 2%;
}

.header .icon {
    font-size: 3vw;
    padding: 2px;
}