.sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}

.sidebar .aside_nav{
    /* width: 18vw; */
    max-width: 17vw;
    padding: 0.5% ;
    background-color: rgb(19, 18, 18);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    position: relative;
   
}

.sidebar .aside_nav .nav_image img {
    max-width: 35%;
    margin-top: 2vw;
    
    
}

.sidebar .aside_nav .sidebar-links{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

  

.sidebar .aside_nav .sidebar-links p{
    list-style: none;
    margin-top: 0;
    padding: 0 2%;
    display: flex;
}

.sidebar .aside_nav .sidebar-links p a {
    list-style: none;
    color: #ccc;
    font-weight: 600;
    text-decoration: none;
    padding: 1vw ;
    display: flex;
    gap: 1vw;
}

.sidebar .aside_nav .sidebar-links p a:hover {
    background-color: rgba(187, 52, 187, 0.829);
    padding: 1vw ;
    border-radius: 10px;
}

.sidebar .aside_nav .logout a{
    text-decoration: none;
    color: red;
    font-size: 1.4vw;
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 40%;
    margin-bottom: 2vw;
    display: flex;
    gap: 0.5vw;
}

.sidebar .aside_nav .logout hr{
    position: absolute;
    bottom: 8vw;
    width: 100%;
    right: 0.5%;
    border: none;
    border-top: 2px double #413d3d;
}

@media (min-width:300px) and (max-width: 768px) {
    
    
    
    .sidebar .aside_nav {
        max-width: 28vw;
}
    
    
   /* .sidebar .aside_nav .logout a{
        font-size: 2vw;
        margin-bottom: 5vw;
    } */
    
}