:root {
    --dark-bg-color: rgb(8, 8, 8);
    --light-bg-color: #ffffff;
    --text-color: #ccc;
  }
  
  /* nav {
    background-color: var(--color-black);
    display: flex;
     align-items: center;
    justify-content: space-between; 
    color: var(--text-color);
    padding: 10px 20px;
  }
  
  .nav_image img {
    max-width: 100px;
  }
  
  .nav_text {
    display: flex;
    gap: 20px;
  }
  
  .nav_text a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .nav_text a:hover {
    color: var(--color-white);
  }
   */

   .header-navbar nav{
    display: flex;
    background-color: var(--dark-bg-color);
    /* align-items: center;
    justify-content: space-between; */
    width: 100%;
    /* border-bottom: 2px solid white; */
   }

   .header-navbar nav .nav_image img{
    max-width: 10%;
    border: none;
   }

   .header-navbar nav .nav_text{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    white-space: nowrap;
    margin-right: 3%;
   }

   .header-navbar nav .nav_text a{
    font-size: 1.5vw;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color);
    transition: background-color 0.5s ease, transform 0.5s ease;
    box-sizing: border-box;
    padding: 2%;
   }

   .header-navbar nav .nav_text a:hover{
    background-color: rgba(187, 52, 187, 0.829);
    transform: scale(1.1);
    padding: 2%;
    border-radius: 10%;
   }

   .log-out {
    color: red;
    background-color: transparent;
    border: none;
    font-size: 1.5vw;
   }

   .log-out:hover{
    cursor: pointer;
   }

   .header-navbar .mobile-nav {
    display: none;
   }


   @media (min-width: 300px) and (max-width: 768px)  {
    .header-navbar nav .nav_text{
      display: none;
     }

     .header-navbar nav .mobile-nav {
      display: flex;
      flex-direction: column;

     }
     
     .header-navbar nav .mobile-nav .mobile-nav-icon{
      display: flex;
      /* justify-content: center; */
      align-items: center;
      padding: 2vw 3vw;
      color: white;
      position: relative;
      height: 10vw;
      right: 2vw;
      margin-top: 1px;
      /* transition: border-radius 0.5s ease-in-out; */
      /* transition: 0.5s ease-in; */
     }

     .header-navbar nav .mobile-nav .mobile-nav-icon:hover{
      cursor: pointer;
     }
     
     .header-navbar nav .mobile-nav .mobile-active {
      /* background: rgba(187, 52, 187, 0.829); */
      background-color: #fff;
      font-size: 4vw;
      color: #000;
      font-weight: 700;
      border-top-left-radius: 20px;
      transition: border-radius 0.5s ease-in-out;
     }

     .header-navbar nav .mobile-nav .mobile-menu {
      background: #fff;
      display: flex;
      flex-direction: column;

      position: absolute;
      top: 10vw;
      right: 0.1vw;
      z-index: 15;
      /* border-top: 5px solid rgba(187, 52, 187, 0.829); */
      border-bottom-right-radius: 20px;
      
     }

     .header-navbar nav .mobile-nav .mobile-menu-open{
      opacity: 1;
      max-height: 500px;
     }

     .header-navbar nav .mobile-nav .mobile-menu a{
      text-decoration: none;
      color: black;
      padding: 2vw 10vw;
      text-align: center;
      white-space: nowrap;
      margin: 1.5vw 2vw;
      border-radius: 3px;
     }

     .header-navbar nav .mobile-nav .mobile-menu a:hover{
      background: rgba(187, 52, 187, 0.829);
      border-radius: 10px;
     }
    
      
   }
   