:root {
    --dark-bg-color: rgb(8, 8, 8);
    --light-bg-color: #ffffff;
    --text-color: #ccc;
  }
  
  /* nav {
    background-color: var(--color-black);
    display: flex;
     align-items: center;
    justify-content: space-between; 
    color: var(--text-color);
    padding: 10px 20px;
  }
  
  .nav_image img {
    max-width: 100px;
  }
  
  .nav_text {
    display: flex;
    gap: 20px;
  }
  
  .nav_text a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .nav_text a:hover {
    color: var(--color-white);
  }
   */

   nav{
    display: flex;
    background-color: var(--dark-bg-color);
    /* align-items: center;
    justify-content: space-between; */
    width: 100%;

   }

   nav .nav_image img{
    max-width: 10%;
    border: none;
   }

   nav .nav_text{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    white-space: nowrap;
    margin-right: 3%;
   }

   nav .nav_text a{
    font-size: 1.5vw;
    text-decoration: none;
    color: var(--text-color);
    transition: background-color 0.5s ease, transform 0.5s ease;
    box-sizing: border-box;
    padding: 3%;
   }

   nav .nav_text a:hover{
    background-color: rgba(187, 52, 187, 0.829);
    transform: scale(1.1);
    padding: 3%;
    border-radius: 10%;
   }