.profile-form .profile{
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    align-items: center;
    justify-content: center;
    padding: 4vw;
    box-shadow: 0 4px 8px 0 #ccc, 0 4px 8px 0 black;
    margin: 0 4vw;
}



 .profile_input{
    padding: 6% 15vw;
    border-radius: 10px;
    border: 1px solid rgb(168, 168, 168);
    
    cursor: pointer;
    position: relative;
    background-color: transparent;
} 
.profile input{
    position: absolute;
    left: 2%;
    bottom: 25%;
    padding: 1% 2%;
    width: 30vw;
    border: none;
    outline: none;
    
    font-size: 1.2vw;
    text-align: justify;
    background-color: transparent;
    background: none;
}

input:-webkit-autofill {
    background-color: transparent !important; /* Remove the background color */
    transition: background-color 5000s ease-in-out 0s; /* Ensure smooth transition */
}



.profile h5{
    text-align: left;
    margin-bottom: 0;
    font-size: 80%;
    color: #777575;
}

.profile-form .profile-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vw;
}
.profile-form .profile-head h2{
    padding: 1vw;
}
.profile-form .submit{
    /* background-color: rgba(187, 52, 187, 0.829); */
    background-color: gray;
    text-align: center;
    font-weight: 900;
    padding: 2vw 4vw;
    /* width: 30%; */
    margin: 2% auto;
    /* margin: 4% 37%; */
    border-radius: 50px;
    border: none;
    font-size: 1.5vw;
    display: flex;
}

.profile-form .submit:hover{
    background-color: rgba(187, 52, 187, 0.829);
    cursor: pointer;
}

@media (min-width:300px) and (max-width: 768px){
   .profile-form .profile {
        flex-direction: column;
    }

    .profile_input{
        padding: 2.5vw 30vw;
        border-radius: 4px;
    } 
}