.course-list-container .course-list .course-list-item{
    box-shadow: 0 4px 8px 0 #ccc, 0 4px 8px 0 black;
    margin: 2vw 0;
    border-radius: 20px;
    /* padding: 3%; */
    padding: 3% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 2vw; */
    align-items: center;
    font-size: 1vw;
    
}

.course-list-container .course-list .course-list-item:hover{
    cursor: pointer;
}

.course-list-container .course-list .course-list-item h2{
    font-size: 1.1vw;
    white-space: nowrap;
}

.course-list-container .course-list .course-list-item .course-detail{
        font-weight: 600;
        font-size: 1.5vw;
        color: black;
        padding: 0.2vw 1vw;
        transition: 0.5s ease;
        display: flex;
        align-items: center;
        justify-content: center;
}

.course-list-container .course-list .course-list-item .course-detail:hover{
    background-color: rgba(187, 52, 187, 0.829);
     border-radius: 50px;
     padding: 0.2vw 1vw;
     transform: scale(1.2);
     text-align: center;
}

@media (min-width: 300px) and (max-width: 768px) {
    .course-list-container {
        /* border: 2px solid red; */
        margin-top: 30vw;
    }
    .course-list-container .course-list .course-list-item{
        
        border-radius: 10px;
        /* padding: 3%; */
        padding: 1.5vw;
        display: flex;
        justify-content: space-between;
        /* gap: 1vw; */
        /* align-items: center; */
        /* font-size: 2vw; */
        /* width: 100%;
        max-width: 50vw; */
        
    }

    .course-list-container .course-list .course-list-item h2{
        font-size: 1.5vw;
        white-space: nowrap;
        margin: 0 1vw;
    }

    .course-list-container .course-list .course-list-item .course-title h4{
        margin: 0;
        
    }

}