.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
    padding: 1vw 0;
    
    
}

.profile-header h1 {
    font-size: 1.5vw;
    color: rgba(187, 52, 187, 0.829);
    margin: 1% 0 0 1%;
}
.profile-header a {
    text-decoration: none;
}

.profile-header .edit-icon {
    font-size: 1.8vw;
    background-color: #272829;
    padding: 0.5vw 0.5vw 0;
    color: #dde6ed;
    border-radius: 5px;
    margin: 1vw;
}
.profile-header .edit-icon:hover {
    background-color: rgba(187, 52, 187, 0.829);
    cursor: pointer;
}

@media (min-width:300px) and (max-width: 768px){
    .profile-header h1 {
        font-size: 2.5vw;
        color: rgba(187, 52, 187, 0.829);
        margin: 2% 0 0 2%;
    }
    .profile-header .edit-icon {
        font-size: 3vw;
        
        padding: 0.5vw 0.5vw 0;
        margin: 3vw;
    }
}