.login-signup-body{
    
    height: auto;
    
}

/* .curve1{
   background-color: rgba(184, 183, 183, 0.357);
   width: 20%;
   height: 35%;
   z-index: -1;
   border-radius: 50%;
   position: absolute;
   right: -4%;
   top: 6%;
}

.curve2{
    background-color: rgba(187, 52, 187, 0.829);
    width: 20%;
   height: 35%;
   border-radius: 50%;
   position: absolute;
   right: -6%;
   top: 3%;
   z-index: -1;
} */

/* .curve3{
    background-color: rgba(184, 183, 183, 0.357);
   width: 17%;
   height: 23%;
   z-index: -1;
   border-radius: 50%;
   position: absolute;
   top: 68vw;
   right: 90%;
}

.curve4{
    background-color: rgb(187, 52, 187);
    width: 15%;
   height: 22%;
   border-radius: 50%;
   position: absolute;
   bottom: 0;
   top: 112%;
   z-index: -1;
   
   left: -5%;
} */

.container{

    width: 30%;
    height: 60vh;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 4px 8px 0 #ccc, 0 4px 8px 0 black;
  text-align: center;
  margin: 10% auto;
  padding: 5% 3%;
}

.container .header{
    padding:  0;
    color: rgba(187, 52, 187, 0.829);
}

.container .header .header_text{
    font-size: 150%;
    font-weight: 900;
}

.container .header .underline{
    border-bottom: 7px solid rgba(187, 52, 187, 0.829);
    border-radius: 10px;
    margin: 1vh auto 2vh;
    text-align: center;
    width: 40%;
}

.container .inputs .input{
    padding: 4%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container .inputs .input input{
    padding: 3% 10%;
    text-align: left;
    margin: 2% 0;
    
}

.custom-icon{
    position: absolute;
    left: 8%;
    top: 38%;
    z-index: 1; 
    
}

.forgot-password{
    
    padding: 4%
}

.submit-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;

}
.submit-container {
    text-align: center;
    margin-top: 20px;
  }

.toggle-btn {
    padding: 10px 20px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}
.submit-btn {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 25px; /* Ajout d'une marge pour l'espacement */
  }
  .toggle-container-bottom {
    position: fixed; /* Fixe le bouton en bas de la fenêtre */
    bottom: 20px; /* Distance depuis le bas */
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%); /* Centre exact */
    margin-top: 20px; /* Ajout d'espace entre les boutons */
    text-align: center;
  }




.gray{
    background-color: #ccc;
    color: rgb(53, 53, 53);
}

@media (max-width: 768px){
    .curve1, .curve2, .curve3, .curve4{
        display: none;
    }
    .container{
        height: auto;
        width: auto;
        margin: 8vw;
    }
      
    
    /* .container .inputs .input input{
        padding: 3% 10vw;
        margin: 0 1vw;
        /* width: 50vw; */
        /* height: 4vh; */
       /* border: none;
        outline: none;
        color: transparent;
        background-color: #ccc;
    }
     */
}

